*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f172a;
color:white;
}

/* NAV */
nav{
display:flex;
justify-content:space-between;
padding:20px 10%;
background:rgba(255,255,255,0.05);
backdrop-filter:blur(10px);
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:30px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
}

/* HERO */
.hero{
display:flex;
align-items:center;
justify-content:space-between;
padding:80px 10%;
}

.hero h1{
font-size:50px;
}

.btn{
display:inline-block;
margin-top:20px;
padding:12px 25px;
background:#3b82f6;
border-radius:8px;
text-decoration:none;
color:white;
}

.profile{
width:280px;
border-radius:20px;
}

/* SECTION */
section{
padding:80px 10%;
}

h2{
margin-bottom:30px;
}

/* PROJECT */
.project-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
}

.card{
background:rgba(255,255,255,0.05);
padding:25px;
border-radius:15px;
transition:0.3s;
}

.card:hover{
transform:translateY(-10px);
background:#1e293b;
}

.card a{
display:inline-block;
margin-top:10px;
color:#3b82f6;
}